@inject IJSRuntime JSRuntime

<div id="@Id"></div>

@code {
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public Trace[] Data { get; set; }

    [Parameter]
    public Layout Layout { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await PlotlyInterop.NewPlot(JSRuntime, Id, Data, Layout);
    }
}
